{
  "extends": "stylelint-config-airbnb",
  "rules": {
    "number-leading-zero": always,
    "max-nesting-depth": 5,
    "rule-empty-line-before": [ "always", {
      "except": ["first-nested"],
      "ignore": ["after-comment"]
    } ],
  }
}
