@import '../../../stylesheets//colors';

$color: rgba(white, 0.25);
$colorDark: rgba(black, 0.25);

footer {
  color: $color;
  text-align: center;
  padding: 15px 0;

  .theme-light & {
    color: $colorDark;
  }

  a {
    color: $color;
    transition: 150ms ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    .theme-light & {
      color: $colorDark;
    }
  }
}
