@import '../../../stylesheets/colors';
@import '../../../stylesheets/fonts';

.levels-modal {
  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px 0;

    }
  }
}