@import "../../../stylesheets/colors";
@import "../../../stylesheets/fonts";

.toast {
  position: fixed;
  z-index: 1010;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -25px);
  background-color: rgba($gray-700, 0.5);
  border-radius: 50px;
  padding: 5px 20px;
  color: $white;
  font-size: $font-size-sm;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 500ms, 500ms cubic-bezier(0.44, 0.08, 0.04, 1);

  &--visible {
    opacity: 1;
    transform: translate(-50%, 0);
    visibility: visible;
    transition-delay: 0s;
  }
}