@import '../../../stylesheets/colors';
@import '../../../stylesheets/fonts';

.input-field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  position: relative;

  &-inner {
    display: flex;
    justify-content: center;
    position: relative;
  }

  input {
    padding-left: 17.5px;
    padding-right: 17.5px;
    min-width: 125px;
    height: 37.5px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    outline: none;
    border: 2px solid $accent;
    transition: 150ms ease;

    &:focus {
      border-color: rgba($accent, 0.5)
    }

    &::placeholder {
      font-size: $font-size-sm;
      font-weight: 400;
      opacity: 0.5;
      transition: 150ms ease;
    }
  }

  &::placeholder {
    opacity: 0.5;
    transition: 150ms ease;
  }

  &:hover {
    input {
      border-color: rgba($accent, 0.5);

      &::placeholder {
        opacity: 1;
      }
    }
  }

  .invalid-feedback {
    margin-top: 5px;
    font-size: $font-size-xs;
    color: $red;
    height: 0;
    text-align: center;
    transition: 500ms ease-in-out;
  }

  &.is-invalid {
    .invalid-feedback {
      height: 20px;
    }
  }
}
