.mine {
  height: 45%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-red-dark);
  box-shadow: inset -1px -1px 3px hsla(0, 100%, 62%, 0.5), inset 1px 1px 3px hsla(0, 60%, 20%, 50%);
}
