.board {
  display: grid;
  gap: max(4px, 0.5vmin);
  max-width: 70vmin;
  max-height: 70vmin;
  padding: 25px;
  border-radius: 30px;
  background-color: hsla(0, 0%, 100%, 5%);
  transform-origin: 50% 50%;
}
