@import "./defaults.scss";

/**
 * Variables
 */
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-neutral-100: hsl(0, 9%, 96%);
  --color-neutral-200: hsl(0, 6%, 93%);
  --color-neutral-300: hsl(0, 5%, 87%);
  --color-neutral-400: hsl(0, 1%, 83%);
  --color-neutral-500: hsl(0, 3%, 74%);
  --color-neutral-600: hsl(0, 0%, 45%); // Lightest color that meets the text contrast ratio requirmenets
  --color-neutral-700: hsl(0, 6%, 30%);
  --color-neutral-800: hsl(0, 6%, 15%);
  --color-neutral-900: hsl(0, 0%, 7%);
  --color-black: hsl(0, 0%, 0%);

  --color-yellow: hsl(51, 98%, 53%);
  --color-orange: hsl(40, 100%, 50%);
  --color-purple: hsl(255, 86%, 57%);
  --color-blue: hsl(192, 97%, 53%);
  --color-blue-dark: hsl(210, 90%, 40%);
  --color-red: hsl(12, 97%, 53%);
  --color-pink: hsl(310, 89%, 52%);
  --color-green-light: hsl(79, 58%, 56%);
  --color-green: hsl(80, 55%, 50%);
  --color-green-dark: hsl(128, 83%, 36%);
  --color-brown-lightest: hsl(25, 89%, 93%);
  --color-brown-light: hsl(13, 94%, 86%);
  --color-brown: hsl(16, 46%, 66%);
  --color-brown-dark: hsl(16, 30%, 40%);

  // Fonts
  --font-family-primary: "NunitoVariable", arial, helvetica, sans-serif;
  --font-family-secondary: "Fredoka One", arial, helvetica, sans-serif;

  // Positioning
  --z-index-base: 0;
  --z-index-above: 10;
  --z-index-below: -10;

  // Transitions
  --transition-timing: cubic-bezier(0.5, 0, 0.1, 1);

  --transition-ultra: 0.1s var(--transition-timing);
  --transition-fast: 0.3s var(--transition-timing);
  --transition-primary: 0.55s var(--transition-timing);
  --transition-smooth: 0.7s var(--transition-timing);
  --transition-slow: 0.9s var(--transition-timing);
}

// Themes
body[data-theme="dark"] {
  --color-primary: var(--color-orange);
  --color-accent: var(--color-purple);
  --color-text: var(--color-white);
  --color-background: #262459;
  --color-background-gradient: linear-gradient(150deg, var(--color-background), #090620);
  --icon-filter: invert(1);
}
body[data-theme="light"] {
  --color-primary: var(--color-orange);
  --color-accent: var(--color-purple);
  --color-text: var(--color-neutral-900);
  --color-background: #edeaff;
  --color-background-gradient: linear-gradient(150deg, var(--color-background), #ffffff);
  --icon-filter: invert(0);
}
