.timer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  .time {
    display: flex;
    align-items: center;
    color: var(--color-text);
    width: 40px;
    opacity: 0.5;
  }

  img {
    width: 26px;
    height: 26px;
    margin: 10px;
    object-fit: contain;
    filter: var(--icon-filter);
    opacity: 0.5;
  }
}
