@use "../../styles/mixins.scss";

.modal {
  --modal-min-width: 500px;
  --modal-border-width: 8px;
  --modal-header-height: 48px;
  --modal-border-radius: 50px;

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 25%);
  }

  .body {
    position: relative;
    z-index: 1;
    display: flex;
    min-width: var(--modal-min-width);
    min-height: 350px;
    height: auto;
    border-radius: var(--modal-border-radius);
    background-color: var(--color-brown);
    box-shadow: inset 0 -4px 6px hsla(0, 0%, 0%, 40%);

    .content {
      flex-grow: 1;
      margin-bottom: calc(var(--modal-border-width) * 1.3);
      border-radius: var(--modal-border-radius);
      background-color: var(--color-brown-lightest);
      border: var(--modal-border-width) solid var(--color-brown-light);
      box-shadow: inset 0 0 0px 0.5px hsla(13, 94%, 82%, 60%), inset 0 0px 4px hsla(13, 60%, 40%, 20%);
    }

    .close {
      position: absolute;
      top: -2px;
      right: -2px;
      z-index: 2;
      transform: rotate(10deg);
    }
  }
}
