@use "../../styles/mixins.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  .logo {
    position: relative;
    margin-bottom: 50px;

    .bomb {
      position: absolute;
      top: -20%;
      right: -26%;
      width: 250px;
      height: 250px;
      transform: rotate(14deg);
    }

    .title {
      position: relative;
      z-index: 1;
      color: var(--color-brown-lightest);
      font-family: var(--font-family-secondary);
      font-weight: 600;
      font-size: 80px;
      line-height: 0.8;
      text-shadow: 0.01em 0.01em 0.005em var(--color-brown), 0.02em 0.02em 0.005em var(--color-brown),
        0.03em 0.03em 0.005em var(--color-brown), 0.04em 0.04em 0.005em var(--color-brown),
        0.05em 0.05em 0.005em var(--color-brown), 0.06em 0.06em 0.005em var(--color-brown-dark),
        0.07em 0.07em 0.005em var(--color-brown-dark), 0.08em 0.08em 0.005em var(--color-brown-dark),
        0.09em 0.09em 0.005em var(--color-brown-dark), 0.1em 0.1em 0.005em var(--color-brown-dark);
    }
  }

  .navigationList {
    @include mixins.reset-list;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 180px;
    margin-bottom: 100px;
  }
}
