@use "../../styles/mixins.scss";

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  .navigationList {
    @include mixins.reset-list;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
  }
}
