@import 'colors';

button {
  outline: none !important;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-left: 17.5px;
  padding-right: 17.5px;
  min-width: 125px;
  height: 37.5px;
  margin: 10px 0;
  border: none;
  font-size: 15px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: $accent;
  transition: 200ms ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  border-radius: 4px;
  background-color: rgba($white, 0.1);
  transition: 150ms ease-out;
}

.button:hover {
  box-shadow: 0 1px 2px 0 rgba($accent, 0.35), 0 1px 3px 1px rgba($accent, 0.5);
}

.button:hover::before {
  opacity: 1;
}

.button:active {
  transform: scale(.97);
  box-shadow: none;
}