.footer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 12px;
  padding: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr auto 1fr;
  }

  .center {
    text-align: center;

    @media (max-width: 767.98px) {
      order: 3;
    }

    a,
    span {
      font-size: 12px;
      color: var(--color-text);
      opacity: 0.25;
    }

    a {
      transition: var(--transition-primary);

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .actions {
    display: flex;
    gap: 10px;

    @media (min-width: 768px) {
      justify-self: end;
    }

    .action {
      .content {
        padding: 10px 16px;
      }

      img {
        filter: invert(1) drop-shadow(0px 2px 1px hsla(0, 0%, 0%, 40%));
      }
    }
  }
}
