.page {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: 200% 125%;
  background-color: var(--page-background-color);
  background-image: radial-gradient(at 99% 19%, var(--page-color-1) 0px, transparent 50%),
    radial-gradient(at 92% 65%, var(--page-color-2) 0px, transparent 50%),
    radial-gradient(at 52% 0%, var(--page-color-3) 0px, transparent 50%),
    radial-gradient(at 32% 41%, var(--page-color-4) 0px, transparent 50%),
    radial-gradient(at 12% 95%, var(--page-color-5) 0px, transparent 50%),
    radial-gradient(at 76% 83%, var(--page-color-6) 0px, transparent 50%);
  animation: background 10s ease-in-out infinite;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(ellipse at 50% 50%, transparent 0% 70%, hsla(0, 0%, 0%, 10%), hsla(0, 0%, 0%, 30%));
  }
}

body[data-theme="dark"] .page {
  --page-background-color: hsla(230, 70%, 20%, 1);
  --page-color-1: hsla(250, 58%, 35%, 0.74);
  --page-color-2: hsla(252, 70%, 30%, 1);
  --page-color-3: hsla(264, 68%, 30%, 0.9);
  --page-color-4: hsla(222, 87%, 30%, 0.74);
  --page-color-5: hsla(280, 100%, 46%, 0.35);
  --page-color-6: hsla(256, 68%, 25%, 0.51);

  --page-background-color: hsla(244, 50%, 30%, 1);
  --page-color-1: hsla(278, 39%, 61%, 0.25);
  --page-color-2: hsla(283, 100%, 33%, 0.2);
  --page-color-3: hsla(236, 100%, 70%, 0.3);
  --page-color-4: hsla(240, 100%, 70%, 0.2);
  --page-color-5: hsla(300, 34%, 47%, 0.2);
  --page-color-6: hsla(216, 100%, 70%, 0.3);
}

body[data-theme="light"] .page {
  --page-background-color: hsla(222, 70%, 95%, 1);
  --page-color-1: hsla(240, 58%, 80%, 0.74);
  --page-color-2: hsla(252, 70%, 80%, 1);
  --page-color-3: hsla(264, 63%, 80%, 0.75);
  --page-color-4: hsla(222, 87%, 80%, 0.74);
  --page-color-5: hsla(272, 100%, 80%, 0.3);
  --page-color-6: hsla(256, 68%, 80%, 0.51);
}

@keyframes background {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 25%;
  }

  100% {
    background-position: 0% 0%;
  }
}
