@use "../../../styles/mixins.scss";

.header {
  @include mixins.reset-list;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0 10px 20px;

  > li {
    flex: 0;
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--color-text);
    opacity: 0.25;

    &:nth-child(2) {
      justify-content: center;
    }

    &:nth-child(3) {
      justify-content: end;
    }

    .icon {
      filter: var(--icon-filter);
      width: 20px;
      height: 20px;
      margin-bottom: 2px;
    }

    .value {
      font-size: 20px;
      font-weight: 800;
    }
  }
}
