@import "../../../stylesheets/colors";

.board {

  &__inner {
    background-color: rgba(white, .35);
    padding: 2px 3px;
    box-shadow: 0 0 250px rgba(white, .2);

    &.shake-1 {
      animation: 500ms shake-1 ease-in-out;
    }

    &.shake-2 {
      animation: 500ms shake-2 ease-in-out;
    }
  }
}

@keyframes shake-1 {

  10%,
  90% {
    transform: translate3d(-2px, 2px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, -2px, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 2px, 0);
  }
};

@keyframes shake-2 {

  10%,
  90% {
    transform: translate3d(-2px, 2px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, -2px, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 2px, 0);
  }
};
