.toggle {
  --point-diameter: 20px;
  --background-color: var(--color-neutral-500);

  position: relative;
  display: inline-block;

  &.on {
    --background-color: var(--color-green);
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: hsla(0, 0%, 100%, 0%);
    appearance: none;
    cursor: pointer;
  }

  .visual {
    position: relative;
    display: block;
    width: calc(var(--point-diameter) + 4px + 20px);
    height: calc(var(--point-diameter) + 4px);
    background-color: var(--background-color);
    border-radius: calc((var(--point-diameter) + 4px) / 2);
    cursor: pointer;
    pointer-events: none;
    transition: var(--transition-primary);

    .dot {
      content: "";
      position: absolute;
      z-index: 1;
      top: 2px;
      left: 2px;
      display: block;
      width: var(--point-diameter);
      height: var(--point-diameter);
      background-color: var(--color-white);
      border-radius: 50%;
      box-shadow: hsla(0, 0%, 0%, 25%) 0 1px 2px, hsla(0, 0%, 0%, 20%) 1px 2px 5px;
    }
  }
}
