.pageTransition {
  flex-grow: 1;
  display: flex;

  .mask {
    position: fixed;
    z-index: calc(var(--z-index-above) + 1);
    inset: 0;
    background-color: black;
    pointer-events: none;
  }
}
